body {
  color: #111;
  background: #cde;
}

a.checkme:link	{
  color: #00ff00;
  display: block;
  background-color: #ffffff;
}

a.checkme:visited	{
  color: #ff0000;
  background-color: #cccccc;
}

h1 {
  text-align: center;
  font-size: 3em;
}